#navbar {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: 70px;
  padding: 0 5%;
  // background-color: rgba(255, 255, 255, 0.2);
  background: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(30px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (min-width: 250px) and (max-width: 550px) {
    & {
      justify-content: center;
    }
  }

  &.active {
    // background-color: $white;
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.2)
    );
    ul li > a {
      color: black;
    }
    .logo-container .logo span {
      color: $black;
    }
  }

  .logo-container {
    width: 40%;

    @media screen and (min-width: 250px) and (max-width: 550px) {
      & {
        width: 20%;
      }
    }

    .logo {
      align-items: center;
      display: flex;
      img {
        border-radius: 50px;
      }
      span {
        margin: 0 15px;
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;

        @media screen and (min-width: 250px) and (max-width: 550px) {
          & {
            visibility: hidden;
          }
        }
      }
    }
  }

  ul {
    display: flex;
    gap: 30px;

    li {
      a {
        position: relative;
        font-size: 1.2rem;
        font-weight: 600;
        color: $white;
      }
      a:hover {
        &::after {
          content: "";
          height: 3px;
          width: 0;
          background: $color2;
          position: absolute;
          border-radius: 10px;
          bottom: 0px;
          left: 50%;
          transform: translateX(-50%);
          -webkit-animation: anim 0.3s ease forwards;
          animation: anim 0.4s ease forwards;

          @-webkit-keyframes anim {
            to {
              width: 100%;
            }
          }
          @keyframes anim {
            to {
              width: 100%;
            }
          }
        }
        color: $color2;
      }
    }
  }
}
