.search-page {
  // padding-top: 100px;

  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: $color5;
    text-align: center;

    .title {
      font-size: 2rem;
      font-weight: 600;
      color: $white;
    }
  }

  .back {
    background: $color1;
    border-radius: 10px;
    padding: 0 10px;

    &:hover {
      background: $color2;
      color: $white;
    }
  }

  .search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .search-articles-container {
    margin: 0 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 0 20px;
  }
}
