@font-face {
  font-family: "Montez";
  src: url(../fonts/Montez-Regular.ttf);
}
@font-face {
  font-family: "Julius";
  src: url(../fonts/ElMessiri-VariableFont_wght.ttf);
}

$font1: OpenDyslexic, sans-serif;

$color1: #f43309;
$color2: #ea4700;
$color3: #f6db0c;
$color4: rgb(13, 4, 67);
$color5: rgb(53, 12, 100);
$color6: #5499b5;
$gray: #c7c6d1;
$black: #000;
$white: #f5f5f5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Julius, sans-serif;
  color: $black;
}

html {
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

body {
  section {
    min-height: 70vh;
  }
}

a {
  text-decoration: none;
}
